.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.container-grid div {
    background-color: rgb(182, 59, 59);
    height: 100px;
    margin: auto;
    width: 100%;
    border: 1px solid black;
}

.container-grid-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}

.container-grid-two div {
    border: 1px solid black;
    background-color: rgb(177, 250, 144);
}

.one {
    grid-row: 1;
    grid-column: 1 / 5;
}
.two {
    grid-row: 2 / 2;
    grid-column: 1 / 2;
    height: 300px;
}
.three {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
}
.four {
    grid-row: 2 / 2;
    grid-column: 3 / 3;
}
.five {
    grid-row: 3 / 3;
    grid-column: 2 / 3;
}

.bootstrap {
    margin-top: 100px;
}

.row {
    height: 200px;
}

.greenCol {
    background-color: rgb(177, 250, 144);
    border: 1px solid black;
    height: 100px;
}

.redCol {
    background-color: rgb(182, 59, 59);
    border: 1px solid black;
}
