.example {
    background-color: yellow;
}

img {
    padding: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.5em;
    margin:  0.5em;
    width: 30%;
    background-color: blue;
}

.pee {
    color: red;
}

li:nth-child(odd) {
    color: rgb(202, 67, 202);
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }

.wrapper div {
    height: 10em;
    margin: 1em;
    border: 1px solid black;
    width: 10em;
    background-color: aqua;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
}

.wrapper div:hover {
    border: 2px solid black;
    background-color: rgb(128, 253, 253);
    cursor: pointer;
}