body {
    margin: 2em;
    background-color: rgba(238, 238, 238, 0.685);
}

.header {
    padding-left: 1em;
    border: 1px solid black;
    align-items: center;
    margin-bottom: 10px;
}

.postForm {
    margin-left: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.hidden {
    display: none;
}

label {
    font-size: 1.5rem;
    font-weight: 900;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}

.forumpost {
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}

.forumpost h2 {
    display: inline;
    text-decoration: underline;
}

.forumpost button {
    float: right;
}
