.App {
  text-align: center;
}

button {
  border: none;
  color: rgb(0, 0, 0);
  background: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.178);
}

.btn-pull-top-right {
  position: absolute;
  top: 10px;
  right: 15%;
}

.product-div {
  box-shadow: 0px 0px 10px 5px #e4e4e4;
  height: 400px;
}
