.content {
    max-width: 550px;
    margin: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    background-color: rgb(215, 248, 248);
    height: 500px;
    padding-top: 20px;
    border-radius: 20px;
  }

#showWeather {
    margin-top: 50px;
}

#btn {
    border: 0;
    margin-top: 15px;
    width: 150px;
    height: 25px;
    background-color: rgb(16, 78, 150);
    color: aliceblue;
    font-size: 1.05rem;
    border-radius: 7px;
}

#btn:hover {
    background-color: rgb(70, 70, 187);
}