.container-flex {
    display: flex; /* or inline-flex */
    flex-direction: row;
}

.container-flex div {
    background-color: rgb(177, 250, 144);
    margin: auto;
    width: 5em;
    height: 7em;
    border: 1px solid black;
}

.containerTwo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.containerTwo div {
    border: 1px solid black;
    background-color: rgb(241, 75, 75);
    height: 5em;
    flex: auto;
}

#divTwo {
    flex-grow: 2;
}

.greenCol {
    background-color: rgb(177, 250, 144);
    height: 7em;
    width: 5em;
    border: 1px solid black;
}

.redCol {
    background-color: rgb(241, 75, 75);
    height: 5em;
    border: 1px solid black;
}