.App {
  margin: auto;
  margin-top: 10em;
  color: #32398b;
  text-align: center;
  border: 1px solid rgb(2, 121, 115);
  border-radius: 20px;
  background: linear-gradient(#e66465, #9198e5);
  width: 20em;
}

.time-div {
  color: rgb(255, 255, 255);
}
