.App {
  text-align: center;
}

.Banner {
  margin: auto;
  margin-top: 5em;
  margin-bottom: 1em;
  width: 300px;
  padding: 1em;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 238, 0);
  border-radius: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
}

.btn {
  width: 120px;
  height: 35px;
  margin: 5px;
  margin-bottom: 25px;
  border: none;
  font-weight: 700;
  border-radius: 5px;
}
.add {
  background-color: rgb(12, 202, 37);
}
.reset {
  background-color: rgb(255, 115, 0);
}
.order {
  background-color: rgb(255, 251, 0);
}

.btn:hover {
  color: rgb(102, 103, 104);
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  min-height: 40px;
  width: 400px;
  margin: auto;
  padding-left: 1.3em;
  background-color: rgb(236, 215, 186);
  border-radius: 10px;
  padding-bottom: 10px;
}

.balls {
  background-color: yellow;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 10px;
  margin: 5px;
  width: 40px;
  height: 30px;
  border: 2px solid rgb(240, 197, 8);
  border-radius: 25px;
  margin-top: 1em;
}