body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(241, 241, 233);
}

.todos {
  text-align: center;
  width: 500px;
  margin: auto;
  margin-top: 0.5em;
  padding-top: 30px;
  padding-bottom: 5px;
  background-color: rgb(210, 226, 223);
  border-radius: 5px;
  min-height: 80px;
}

.banner {
  margin: auto;
  margin-top: 2em;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 500px;
  background-color: rgb(210, 226, 223);
  border-radius: 5px;
  color: rgb(47, 121, 150);

}

input[type=text] {
  border: 1px solid #ccc;
  padding: 5px;
  width: 300px;
  font-size: 15px;
}

input[type=submit] {
  border: 1px solid #ccc;
  margin-left: 15px;
  padding: 5px 15px;
  font-size: 16px;
}

input[type=checkbox] {
  vertical-align: bottom;
  float: left;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
  text-decoration-color: red;
  color: rgb(104, 104, 104);
}


span {
  cursor: pointer;
  color: red;
  font-weight: bold;
  float: right;
  margin-left: 10px;
}

.list {
  margin: auto;
  width: 475px;
}

ul {
  list-style-type: none;
  margin-right: 4em;
  font-weight: 700;
}