body {
    margin: auto;
    display: inline;
}

#container {
    margin: auto;
    background-color: rgb(201, 199, 198);
    padding: 30px;
    border-radius: 20px;
    width: 500px;
    height: 400px;
    text-align: center;
}

img {
    width: 87%;
    border-radius: 20px;
    transition: border 0.2s 0.2s;
    transition: width 0.2s 0.2s;
}

img:hover {
    width: 90%;
    border: 5px solid red;
}

.green {
   color: rgb(179, 27, 27);
   font-family: Verdana;
}

p {
   font-size: 20px;
}

h1 {
   font-size: 35px;
}

table {
    border: 1px solid black;
    margin-top: 100px;
    width: 500px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: grey;
    color: #f2f2f2;
}

form {
    position: absolute;
    width: 300px;
    padding: 5px;
}

