* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    position: relative;
    display: grid;
    justify-content: center;
    background: linear-gradient(to top left, #28b487, #7dd56f);
}

.show-modal {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.3rem 3.5rem;
    margin: 4rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 5rem;
    cursor: pointer;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1.8rem;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
    background-color: rgb(170, 241, 194);
    padding: 12rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.showBooks {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    border-radius: 5px;
    z-index: 1;    
}

.book {
    height: 350px;
    width: 250px;
    margin: 20px;
    padding-top: 20px;
    background-color: rgb(247, 238, 205);
    box-shadow: 1px 1px 2px rgb(65, 30, 30);
    border: 1px solid rgb(175, 107, 67);
    border-radius: 5px;
    text-align: center;
  }

.bookInfo{
    height: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: inherit;
}

.book p {
    font-size: medium;
}

.book .btnRemove {
    position: absolute;
    color: red;
    width: 25px;
    font-size: 9pt;
    font-family: tahoma;
    margin-top: 100px;
    margin-left: 90px;
}

.menu {
    max-width: 1200px;
}

.logout {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.3rem 3.5rem;
    margin-top: 4rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 5rem;
    cursor: pointer;
}

