body {
  background-color: rgb(8, 5, 66);
  margin-left: 10em;
  margin-top: 5em;
}

.App {
  display: flex;
  max-width: 1600px;
  margin: auto;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: rgb(32, 94, 175);
  padding: 12rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modifyModal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24em;
  height: 18em;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(207, 207, 207, 0.808);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modifyForm input {
  width: 160px;
  margin-top: 1em;
  margin-right: 1em;
}

.modifyForm input[type=submit] {
  width: 100px;
  background-color: rgb(80, 219, 122);
}
.modifyForm input[type=submit]:hover {
  background-color: rgb(84, 235, 129);
}

.btnModifyClose {
  border: 1px solid #ccc;
  background-color: rgb(226, 110, 110);
  margin-right: 1em;
  width: 6.5em;
  height: 2em;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}
.btnModifyClose:hover {
  background-color: rgb(221, 80, 80);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.Item {
  position: relative;
  width: 24em;
  height: 18em;
  float: left;
  margin: 10px;
  background-color: rgb(243, 243, 243);  
}

.ItemTitle {
  word-wrap: break-word;
  font-weight: 900;
}

.ItemText {
  font-size: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.loading {
  color: aliceblue;
  text-align: center;
  margin: auto;
}

img {
  height: 18em;
  width: 12em;
  float: left;
  padding-right: 10px;
}

.form {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr
}

input {
  margin-bottom: 1em;
  width: 20em;
  height: 2em;
}

.btnClose {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 3em;
  height: 3em;
  font-weight: 900;
  color: red;
}

input[type=submit] {
  border: 1px solid #ccc;
  width: 17em;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}

.btnModal {
  position: absolute;
  text-align: center;
  top: 2em;
  right: 22em;
  width: 7em;
  height: 2em;
  border: none;
  background-color: rgb(44, 156, 34);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 5px;
}

.btnDelete {
  float: right;
  margin-right: 0.7em;
  margin-top: 0.7em;
  font-weight: 600;
  color: red;
  border: none;
  background-color: rgb(243, 243, 243);  
}

.btnDelete:hover {
  font-weight: 900;
}

.btnModal:hover {
  background-color: rgb(146, 216, 167);
  color: rgb(44, 44, 44);
}

.switch {
  position: absolute;
  display:inline-flex;
  float: right;
  bottom: 0.5em;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  color: #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0cb61aa6;
  color: #595f64;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: small;
}

.slider.round:before {
  border-radius: 50%;
}

.modifyIcon {
  position: absolute;
  display:inline-flex;
  float: right;
  bottom: 0em;
  right: 0em;
  width: 40px;
  height: 40px;
}

.modifyIcon:hover {
  width: 42px;
  height: 42px;
}

.btnLogout {
  position: absolute;
  text-align: center;
  top: 2em;
  right: 16em;
  width: 5em;
  height: 1.8em;
  border: none;
  background-color: rgb(165, 20, 20);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 5px;
}
.btnLogout:hover {
  background-color: red;
}

.login-page {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  text-align: center;
  background-color: rgb(32, 94, 175);
  padding: 12rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

input[type=button] {
  border: 1px solid #ccc;
  width: 17em;
  font-size: 16px;
  font-weight: 600;
}

.banner {
  position: absolute;
  color: #ccc;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  background-color: rgb(0, 0, 0);
  padding-left: 10.5em;
  height: 4.5em;
}

.buttons.div {
  margin-right: 10%;
}

.user {
  position: absolute;
  top:9px;
  right: 50px;
  color: #ccc;
}